:root{
    --p-color: #7f5539;
    --s-color: #b08968;
    --bg-color: #ede0d4;
}




.navbar {
    padding: .8rem;
    background-color: var(--s-color);
    display: flex;
    justify-content: space-between;
}







.right {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    padding: 1rem;

}

.navigation li a {
    text-decoration: none;
    color: black;
    font-size: large;

}


.searchbox .searchbar {
    padding: .7rem;
    /* width: ; */
    border-radius: .3rem;
    border: none;
}

.left {
    display: flex;
    align-items: center;
}

.userIcon button {

    /* border: none; */
    margin-left: .3rem;
    border-radius: .3rem;
    padding: .6rem 1rem;
}

.cta-s {
    border: 2px solid var(--p-color);
    background-color: white;
    color: var(--p-color);
    /* background-color: crimson; */
}

.cta-p {
    background-color: var(--p-color);
    border: 2px solid var(--p-color);
    color: white;
}

#hero-img {
    width: 500px;
    height: 500px;
}

#heroSection {
    display: flex;
    align-items: center;
    padding: 0rem 7rem;
    background-color:var(--bg-color);
}

.left-hero {
    padding: 2rem;
}

.hero-btn {
    margin: 1rem 0rem;
    background-color: var(--p-color);
    color: white;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    font-weight: bold;
}

.hero-para {
    font-size: large;
    margin: 1rem 0rem;
}

.hero-heading {
    font-size: 45px;
}

.c-red {
    color: var(--p-color);
}

#categorySection {
    margin: 1rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryCard {
    background-color: rgb(209, 206, 206);
    width: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .5rem;
    margin: .5rem;

    transition: all .2s ease;
}
.categoryCard:hover{
    transform: scale(1.05);
}

.circle-category {
    width: 80px;
    height: 80px;
    /* background-color: #83a0bf; */
    background-color: white;
    border-radius: 50%;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /* box-shadow: 3px 3px 10px 0px rgb(24, 23, 23); */

}

.grad-1 {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.grad-2 {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.grad-3 {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

.grad-4 {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}
#productSection{
    margin: 1rem 10rem;
}

.product-card{
    background-color: #efefef;
    width: 300px;
    /* height: 400px; */
    margin: 1rem;
    position: relative;
    box-shadow: 3px 3px 10px #9c9c9c;
    border-radius: .5rem;
    transition: all .3s ease;
}
.product-card:hover{
    /* width: 400px;
    t */
    transform: scale(1.2);
}
.imgholder{
    width: inherit;
    z-index: -1;
}
.imgholder img{
    width: inherit;
    height: 180px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.card-content{
    padding: 1rem;
}
.text-secondary{
    opacity: .5;
    /* color: rgb(114, 114, 114); */
}
.availability{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0rem;
}
.salePrice{
    font-size: x-large;
    color:var(--p-color) ;
    margin: .3rem 0rem;
}

.regularPrice{
    opacity: .5;
    text-decoration: line-through;
}
.ratingStar{
    color: #c0a403;
}
.khaliStar{
    /* background-color: transparent; */
    fill: none;
    stroke:  #333333;
}
.v-box{
    width: 30px;
    height: 30px;
    border: 2px solid #7c7c7c;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    margin: .5rem 0rem;
    margin-right: .3rem ;
}
.variation{
    display: flex;
}
.cart_btn{
    padding: .7rem 1rem;
    background-color: var(--p-color);
    color: white;
    /* font-size: large; */
    border: none;
    border-radius: .3rem;
    margin-right: .3rem;
}
.wishlist_btn{
    padding: .3rem 1rem;
    border: none;
    /* border: 2px solid #7c7c7c; */
    background-color: #a8a8a8;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctas{
    display: flex;
    align-items: center;
}
.stock{
    color: olivedrab;
    font-weight: bold;
}
#productSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.s-heading{
    font-size: xx-large;
    font-weight: bolder;
    color: #333333;
    text-align: center;
    margin: 2rem;

}

.gool{
    width: 70px;
    height: 70px;
    background-color: var(--s-color);
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.fifty{
    font-weight:bold;
}
.off{
    font-size: small;
}


#footer{
    padding: 4rem 7rem;
    background-color: var(--bg-color);
}
.inner-footer{
    display: flex;
}
.contact-list{
    list-style: none;
    display: flex;
    justify-content: start;
    margin: .5rem 0rem;
}


.contact-list div svg{
    margin-right: .3rem;
}
.footer-heading{
    font-size: x-large;
    color: var(--p-color);
    font-weight: bolder;
}
.col{
    width: 25%;
}
.links-list li{
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
}
.links-list{
    margin-top:.5rem ;
}

.newsletter input{
    border: none;
    padding: .5rem;
    border: 2px solid var(--p-color);
    border-radius: .3rem;
    margin: .5rem 0rem;
}
.newsletter button{
    border: none;
    padding: .5rem;
    border-radius: .3rem;
    background-color: var(--p-color);
    color: white;
}

.iconHolder{
    width: 50px;
    height: 50px;
    background-color:white;
    margin: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px black;
}
.lower-footer{
    background-color: rgb(136, 136, 136);
}
.lfooter-wrapper{
    display: flex;
    justify-content: center;
    padding: .5rem;
}